<!-- Barra de Navegação na parte de edição de turmas -->
<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Edição de Turmas</a>
  </div>
</div>

<!-- Renderizando o form aparecer os componentes necessários a inserção de turmas -->
<%= render 'form' %>