
<!-- Configurando a barra de navegação na parte de adição de turmas -->
<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Adição de turmas</a>
  </div>
</div>

<!-- Renderizando o formulário, para aparecer os componentes referentes a adição e inclusão de Turmas -->
<%= render 'form' %>