<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Edição de Alunos</a>
  </div>
</div>
<!-- Renderizando o formulário para ficar só os componentes inerentes ao processo de edição de alunos -->
<%= render 'form' %>