<!-- Barra de Navegação na parte de inclusão de alunos -->
<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Incluir aluno</a>
  </div>
</div>
<!-- renderizando o formulário para ficar os componentes necessários a inclusão de turmas -->
<%= render 'form' %>