
<!-- 'Barra de Navegação' -->
<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Editar professores</a>
  </div>
</div>
<!-- 'renderizando o formulário de professores' -->
<%= render 'form' %>