<!-- Configurando a barra de navegação de Inclusão de novos professores  -->
<div class="navbar" >
  <div class="navbar-inner" style="height: 45px">
    <a class="brand" href="#">Incluir professores</a>
  </div>
</div>
<!-- renderizando o formulário para aparecer os componentes realtivos a inserção de professores -->
<%= render 'form' %>